Practica 1/*.bin
Practica 1/parent
Practica 1/*.txt
Practica 1/*.log
Practica 2/*.bin
Practica 2/*.log
Practica 2/estado_cuenta.json
Proyecto/*.bin
Proyecto/*.log
Proyecto/*.env


# Dependency directories
Proyecto/Frontend/memory-dashboard/node_modules/
Proyecto/Server/node_modules/